

.dark-background{
    -fx-background-color : #222222 ; 
}
.border-bottom{
    -fx-border-width : 0 0 2 0 ;
    -fx-border-color : #676767;
        
}
.round-lbl{
    -fx-background-color: #FE7A79;
    -fx-background-radius: 100%;
}
