/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 avr. 2021, 00:02:31
    Author     : Hassene
*/

@font-face {
    font-family: 'Milliard';
    src: url('Milliard_Medium.otf');
}

.labelc{
    -fx-font-family: "Milliard";
    -fx-font-size : 21px;
}
.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
         #AC005D ; /* this line is the background color of the bar */
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}